h2{
    font-size: 30px !important;
}

.chamado {
    display: flex;
    align-items: center;
    height: 6.5em;
    width: 80vw;
    border: 2px solid black;
    border-radius: 30px;
    margin: 2em auto;
}

.chamado-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    border: 2px solid black;
    border-radius: 0 0 30px 30px;
    border-top: none;
    margin: -4em auto 2em;
    padding: 2em 0;
}

.conteudo {
    margin: 0;
    padding: 0 2em;
}

.texto {
    padding: 0 1.5em;
}

.left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}
.right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 55%;
}

.status {
    text-align: center;
    width: 120px;
    padding: 1em;
    border-radius: 30px;
}

.status-cor1, 
.prioridade-cor3 {
    border: 2px solid #5BC74A;
    background-color: #DCFFD7;    

}
.status-cor2, 
.prioridade-cor2 {
    border: 2px solid #F0AF09;
    background-color: #FFF4E0;    
}
.status-cor3, 
.prioridade-cor1 {
    border: 2px solid #ED6B4F;
    background-color: #FBEDED;   
}

.icon {
    width: 2em;
    height: 2em;
}

.conteudo-adm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 95%;
    margin-left: 30px;
}

.conteudo-adm h2 {
    margin: 0;
}

.texto-adm {
    border-left: 2px solid grey;
    padding-left: 20px;
    margin-left: 15px;
}

.btn-adm {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    border: none;
    background-color: #3ae584;
    cursor: pointer;
    font-size: 1em;
    transition: 0.5s;
    font-weight: bolder;
}

.btn-adm:hover {
    background-color: #2fbf76;
    transition: 0.5s;
}