form.formCliente {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 660px !important;
    margin: 3% auto;
}

form.formCliente label{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.0rem !important;
}

form.formCliente input, form.formCliente select, form.formCliente textarea {
    width: 100%;
    border: 2px solid #ddd !important;
    border-radius: 10px !important;
    font-size: 1.2rem !important;
    text-indent: 10px;
    resize: none;

}

form.formCliente #input-msg{
    height: 150px !important; 
}

.formCliente input {
    height: 40px;
    margin-top: 10px;
}

form.formCliente button{
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #5BC74A;
    color: #000000;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 2%;
}

form.formCliente button, form.formCliente html [type="button"], form.formCliente [type="reset"], form.formCliente [type="submit"] {
    height: 60px;
    width: 120px;
    align-self: center;
    
}