@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kadwa&display=swap');

:root {
    --Inter: 'Inter', sans-serif;
    --Kadwa: 'Kadwa', serif;
    --branco_azulado: #e3efff;
    --azul_claro: #AFC8E9;
    --azul: #93B6E4;
    --roxo: #6750A4;
}

div.homeAdm {
    margin: auto;
    max-width: 1200px;
    min-width: 400px;
}

footer {
    background-color: var(--azul);
    height: 40px;
    margin-top: 40px;
}

div.homeAdm section.conteudo {
    width: 100%;
    height: calc(80vh);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.homeAdm section.conteudo .titulo {
    max-width: 400px;
    min-width: none;
    margin: auto;
}

div.homeAdm section.conteudo h1 {
    font-family: var(--Inter);
    font-size: 1.9em;
    font-weight: 400;
    margin: 20px 0px;
    padding: 0px;
}

div.homeAdm section.conteudo strong {
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}

div.homeAdm section.conteudo p {
    font-size: 1em;
}

div.homeAdm section.conteudo div.chamados {
    display: flex;
    margin: 40px auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 600px;
    min-width: none;
}

div.homeAdm section.conteudo div.chamados div {
    width: 300px;
    margin: 20px 0px;
}

div.homeAdm section.conteudo div.chamados div a {
    transition: all 0.1s;
    color: #5d7491;
    text-decoration: none;
    font-family: var(--Inter);
    font-size: 1.05em;
    font-weight: 400;
    padding: 15px;
    border: 1px solid var(--azul);
    border-radius: 20px;
}

div.homeAdm section.conteudo div.chamados div a:hover {
    font-weight: 600;
}

div.homeAdm section.relatorios {
    margin: auto;
    width: 1000px;
    border: 1px solid #8b8b8b;
    border-radius: 20px;
    padding: 40px;
}

div.homeAdm section.relatorios hr {
    margin: 10px 0px;
}

div.homeAdm section.relatorios div.filtro {
    margin-top: 20px;
    padding: 5px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.homeAdm section.relatorios div.filtro div {
    padding: 10px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

div.homeAdm section.relatorios div.filtro div label {
    position: absolute;
    padding: 2px 3px;
    top: 2px;
    left: 20px;
    background-color: white;
    color: var(--roxo);
    font-size: 0.7em;
}

div.homeAdm section.relatorios div.filtro input, select {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #202020;
    font-family: var(--Inter);
    font-weight: 600;
}

div.homeAdm section.relatorios div.filtro input[type="date"]{
    border: 2px solid var(--roxo);
}

div.homeAdm section.relatorios div.filtro input[type="date"]:focus{
    border: 2px solid var(--roxo);
    outline: none;
}

div.homeAdm section.relatorios div.filtro button {
    transition: all 0.5s;
    background-color: var(--roxo);
    border: 3px solid var(--roxo);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    color: white;
}

div.homeAdm section.relatorios div.graficos {
    min-height: 400px;
    max-height: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

div.homeAdm section.relatorios div.graficos div.grafico {
    width: 800px;
    height: 400px;
    margin-top: 30px;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
}

div.homeAdm section.relatorios div.graficos div.grafico div.loading{
    color: #8b8b8b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    font-weight: 400;
    font-family: var(--Inter);
    height: 200px;
}