@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kadwa&display=swap');

:root {
    --Inter: 'Inter', sans-serif;
    --Kadwa: 'Kadwa', serif;
    --branco_azulado: #e3efff;
    --azul_claro: #AFC8E9;
    --azul: #93B6E4;
}

div.homeAte {
    background-color: blue;
    margin: auto;
    max-width: 1200px;
    min-width: 400px;
}

div.homeAte h1 {
    margin: 0px;
    padding: 0px;
}