*{
    font-family: Arial;
    box-sizing: border-box;
}

:root {
    --Inter: 'Inter', sans-serif;
    --Kadwa: 'Kadwa', serif;
    --branco_azulado: #e3efff;
    --azul_claro: #AFC8E9;
    --azul: #93B6E4;
    --error_border: #A94442;
    --error_background: #F2DEDE;
    --error_placeholder: #a9444286;
}

div.pageCadUser h1{
    font-size: 1.7em;
    text-align: center;
    font-weight: 500;
    font-family: var(--Inter);
    margin: 80px 0px 0px 0px;
}

form#cadUserForm {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    min-width: none;
    padding: 40px;
    margin: 20px auto;
    font-family: var(--Inter);
}

form#cadUserForm label {
    font-weight: bold;
    font-size: 1.0rem;
    font-family: var(--Inter);
    margin-bottom: 50px;
    height: 80px;
}

form#cadUserForm input, 
form#cadUserForm select, 
form#cadUserForm textarea {
    width: 100%;
    border: 2px solid var(--azul_claro);
    border-radius: 10px;
    font-size: 1.1rem;
    padding-left: 10px;
    height: 40px;
    margin-top: 10px;
    font-family: var(--Inter);
    padding: 0px 9px;
}

form#cadUserForm input::placeholder {
    color: #8b8b8b;
    font-family: var(--Inter);
}

form#cadUserForm button,
form#cadUserForm html [type="button"], 
form#cadUserForm [type="reset"], 
form#cadUserForm [type="submit"] {
    height: 40px;
}

form#cadUserForm input#button {
    background-color: var(--azul_claro);
    border: 2px solid var(--azul);
    border-radius: 15px;
    margin: auto;
    margin-top: 40px;
    width: 150px;
    height: 40px;
    font-weight: 600;
    color: #202020;
    padding: 10px 20px;
    transition: all 0.2s;
    font-size: 1em;
}

form#cadUserForm input#button:hover {
    background-color: var(--azul);
    color: #fff;
    cursor: pointer;
}

form#cadUserForm input#button:active {
    width: 142px;
    height: 38px;
    font-size: 0.90em;
}

form#cadUserForm div.error {
    text-align: center;
    color: red;
    margin: 10px;
}