*{
    font-family: Arial;
    box-sizing: border-box;
}

form#cliUserForm h1{
    margin: 2%;
    font-size: 35px !important;
    text-align: center;
    margin-bottom: 2% !important;
}

form#cliUserForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 660px !important;
    margin: 3% auto;
}

form#cliUserForm label{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.0rem !important;
}

form#cliUserForm input, 
form#cliUserForm select, 
form#cliUserForm textarea {
    width: 100%;
    border: 2px solid #ddd !important;
    border-radius: 10px !important;
    font-size: 1.2rem !important;
    text-indent: 10px;
}

form#cliUserForm button{
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #444;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 2%;
}

form#cliUserForm button, 
form#cliUserForm html [type="button"], 
form#cliUserForm [type="reset"], 
form#cliUserForm [type="submit"] {
    height: 40px;
}